@use '../abstracts/variables' as v;

.lawyers-list {
    align-items: flex-start;
    justify-content: flex-start;
    position: sticky;
    top: v.$spaceMedium;
    padding: 0;
    @media screen and (max-width: 425px) {
        display: none;
    }
    summary {
        font-size: 1.2rem;
        margin-top: 0 !important;
        border-bottom: none !important;
        cursor: pointer;
        &::marker {
            color: v.$secondary;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0;
        padding-bottom: v.$spaceRegular;
        margin-block: 0;
        list-style: none;
        font-size: 0.8rem;
        li {
            border-left: 2px solid #eeeeee;
            margin-left: 4px;
            display: flex;
            padding-block: v.$spaceUltraThin;
            padding-inline-start: 1rem;
            a {
                transition: v.$transitionSimple_01;
            }
            &:hover, &:active, &:focus-visible {
                padding-inline-start: calc(1rem - 2px);
                color: v.$primary;
                border-left: 4px solid v.$secondary;

            }
        }

    }
}