@use '../abstracts/variables' as v;

.contact-section {
    gap: v.$spaceMedium;
    padding-bottom: v.$spaceMedium;
    .container {
        width: v.$blogWidth;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media screen and (max-width: 980px) {
            grid-template-columns: repeat(2, 1fr);
            gap: v.$spaceRegular;
        }
        @media screen and (max-width: 680px) {
            grid-template-columns: repeat(1, 1fr);
        }
        gap: inherit;
        .office-card {
            font-size: 0.9rem;
            h2 {
                color: v.$primary;
                text-transform: capitalize;
                border-bottom: 2px solid #ee3223;
                padding-bottom: 0.5rem;
                margin-top: 2rem;
            }
            a {
                text-decoration: underline;
                &:hover{
                    color: v.$secondary;
                }
            }
            a.highlighted-link {
                color: v.$secondary;
                &:hover {
                    color: inherit;
                }
            }
        }
    }
}