@use '../abstracts/variables' as v;

.lawyer-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: v.$spaceMedium;
    margin-bottom: v.$spaceThick;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .col-left {
        width: 34%;
        img {
            max-width: 100%;
            height: auto;
        }

        @media screen and (max-width: 780px) {
            width: 100%;
        }

    }

    .col-right {
        width: 66%;

        @media screen and (max-width: 780px) {
            width: 100%;
        }

        h2 {
            margin-top: 0;
        }
    }

    .additional-info_row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: v.$spaceRegular;
        padding-block: v.$spaceRegular;
        border-bottom: 2px solid v.$primary;
        font-size: 0.8rem;
        .content {
            width: 70%;
            span.aop:not(:last-child) a::after {
                content: ' | '
            }
        }
    }
}
