@use '../abstracts/variables' as v;

.page-content {
    display: flex;
    flex-direction: column;
    padding-bottom: v.$spaceThick;
    position: relative;
    .container {
        width: v.$blogWidth;
        h2 {
            border-bottom: 3px solid v.$primary;
            padding-bottom: v.$spaceUltraThin;
            margin-top: v.$spaceRegular;
        }
    }
}


.page-content-cols {
    display: flex;
    flex-direction: row;
    padding-bottom: v.$spaceThick;
    position: relative;
    gap: 4rem;
    @media screen and (max-width: 980px) {
        gap: 2rem;
    }
    
    .container {
        .left-col {
            width: calc(100% - 220px);
            @media screen and (max-width: 425px) {
                width: 100%;
            }
        }
        .right-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 220px;
            @media screen and (max-width: 425px) {
                width: 100%;
            }
        }
        width: v.$pageWidth;
        gap: inherit;
        h2 {
            border-bottom: 3px solid v.$primary;
            padding-bottom: v.$spaceUltraThin;
            margin-top: v.$spaceRegular;
        }
    }
}



