@use '../abstracts/variables' as v;

.page-content {
    display: flex;
    flex-direction: column;
    padding-bottom: v.$spaceThick;
    position: relative;
    .container {
        width: v.$blogWidth;
        h2 {
            border-bottom: 3px solid v.$primary;
            padding-bottom: v.$spaceUltraThin;
            margin-top: v.$spaceRegular;
        }
    }
}


.page-content-cols {
    display: flex;
    flex-direction: row;
    padding-bottom: v.$spaceThick;
    position: relative;
    gap: 4rem;
    
    .container {
        .left-col {
            width: 75%;
            @media screen and (max-width: 780px) {
                width: 60%;
            }
        }
        .right-col {
            width: 25%;
            @media screen and (max-width: 780px) {
                width: 40%;
            }
        }
        width: v.$pageWidth;
        gap: inherit;
        h2 {
            border-bottom: 3px solid v.$primary;
            padding-bottom: v.$spaceUltraThin;
            margin-top: v.$spaceRegular;
        }
    }
}



