@use '../abstracts/variables' as v;

.practice-areas {
    li {
        gap: v.$spaceThin;
        align-items: center;
        transition: v.$transitionSimple_01;
        &:hover {
            color: v.$primary;;
            &::after {
                opacity: 1;
            }
            &::marker {
                color: v.$primary;
            }
        }
    }
}