@use '../abstracts/variables' as v;

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 300px;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

p {
    margin-block-start: 0;
}